@font-face {
	font-family: Muli;
	src: url(../fonts/muli/Muli-Regular.ttf)
}

/* Variaveis */
:root {
    --fonte: Muli, sans-serif;
}

/* Principal */
body{
    height: 100vh;
    width: 100%;
}

section {
    position: relative;
}

.jumbotron{
    font-family: var(--fonte);
    letter-spacing: .025em;
    color: white;
    background: #17a2b8 !important;
    margin-bottom: 0rem !important;
    /* background: linear-gradient(90deg, rgba(52,175,144,1) 22%, rgba(44,181,161,1) 62%); */
}

.display-4{
    font-weight: 900;
}

.texto-imagem{
    font-family: var(--fonte);
    padding-top: 25%;
    font-weight: bold;
}

/* Secoes */
#garantia{
    background-color:white;
    /* background: linear-gradient(90deg, rgba(52,175,144,1) 22%, rgba(44,181,161,1) 62%); */
}

/* Titulos  */
/* Marron */
.titulo-marron {
    font-family: var(--fonte);
    font-weight: 900;
    color: #56494c;
    padding-top: 50px;
}

.titulo-branco {
    font-family: var(--fonte);
    font-weight: 900;
    color: white;
    padding-top: 50px;
}

/* Informacoes*/
.informacao {
    font-family: var(--fonte);
    font-weight: 600 !important;
    padding-top: 50px;
    padding-bottom: 40px;
    text-align: justify;
}

/* Cinza */
.informacao-cinza{
    color: #666;
}

.informacao-branco {
    color: white;
}

.informacao-marron {
    color: #56494c;
}

/* Card */
.tamanho-card {
    max-width: 16rem;
}

.card-img {
    -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}

.card-title {
    font-family: var(--fonte);
    font-weight: 900;
}

.card-text {
    font-family: var(--fonte);
    font-weight: 600;
}

/* Divisao */
hr.divisao {
    border-top: 3px solid #FF1654;
    border-radius: 2px;
    width: 50%;
}

hr.divisao-animada{
    border-top: 3px solid #FF1654;
    border-radius: 2px;
    width: 150px;
    animation: divisao-tamanho 12s infinite;
}

@keyframes  divisao-tamanho {
    0% {
      width: 0;
    }
    100% {
      width: 70%;
    }
}

/* Icone */
.icone {
    margin: 5% 0% 0% 35%;
    display: inline-block;
    width: 70px;
    height: 70px;
    background-size: cover;
    filter: invert(65%) sepia(51%) saturate(2000%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.icone-globo {
    background-image: url('../externo/bootstrap-icons/globe.svg')
}

.icone-camera {
    background-image: url('../externo/bootstrap-icons/camera-video.svg')
}

.icone-calendario {
    background-image: url('../externo/bootstrap-icons/calendar-check.svg')
}


/* Conteudo curso */
.conteudo-curso__card-title {
    color: #56494c;
}

.conteudo-curso__card-text{
    font-weight: 500;
}

/* Objetivo do curso */
#objetivo-curso {
    background: url('../imagens/fundos/estudo.png');
    background-size: cover;
    margin-bottom: 32px;
}

.objetivo-curso__titulo,
.funcionamento-curso__titulo {
    font-family: var(--fonte);
    font-weight: 900;
    padding-top: 50px;
    color:white;
}

.objetivo-curso__informacao {
    font-family: var(--fonte);
    font-weight: 600 !important;
    color: white;
    text-align: justify;
    padding-top: 50px;
    padding-bottom: 40px;
}

/* Beneficios da corretagem */
.beneficios-corretagem__imagem {
    background: url('../imagens/fundos/imagem_prejuizos.png');
    background-size: cover;
}

.beneficios-corretagem__titulo {
    font-family: var(--fonte);
    font-weight: 900;
    color: white;
    /* text-shadow: 3px 2px 3px #DEF2C8; */
}

/* Funcionamento do curso */
#funcionamento-curso {
    background-color: #17a2b8;
}


/* Idealizador do curso */
#idealizador-curso {
    background-color:#fafafa !important;
}

.idealizador-curso__titulo {
    font-family: var(--fonte);
    font-weight: 900;
    color: #56494c;
    padding-top: 50px;
}

.idealizador-curso__informacao {
    font-family: var(--fonte);
    font-weight: 400;
    font-size: 1.2em;
    color: #666;
    text-align: justify;
    margin-top: 50px;
}

@media screen and (max-width:500px){

    .objetivo-curso__informacao {
        padding-top: 5px;
        padding-bottom: 5px;
    }

}

@media screen and (max-width:320px){

    .objetivo-curso__titulo {
        margin-top: 6px !important;
    }

    .objetivo-curso__informacao {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    #objetivo-curso__coluna-subtitulo{
        display: none;
    }

    .beneficios-corretagem__titulo {
        font-weight: 300;
        color: white;
    }

    .display-4 {
        font-weight: bold !important;
        font-size: 2.5rem !important;
    }

    .imagem{
        height: 95%;
    }


}


